*{
  margin: 0px;
  padding: 0px;
}




/* src/components/Post.css */
.post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.field {
  margin-bottom: 15px;
}

li{
list-style-type: none;  
}


a{
  text-decoration: none;

}


/* navbar */


.navbar-main{
  box-shadow: 0px 0px 10px 0px;

}







label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}






.dots {
   width: 13.4px;
   height: 13.4px;
   border-radius: 50%;
   background: #ff9900;
   color: #ff9900;
   clip-path: inset(-29.1px);
   animation: dots-izls0vmd 2s infinite linear;
}

@keyframes dots-izls0vmd {
   0% {
      box-shadow: 0 0 0 0, 44.8px 0,-44.8px 0,0 44.8px,0 -44.8px;
   }

   10% {
      box-shadow: 0 0 0 0, 13.4px 0,-44.8px 0,0 44.8px,0 -44.8px;
   }

   20% {
      box-shadow: 0 0 0 4.5px, 0 0,-44.8px 0,0 44.8px,0 -44.8px;
   }

   30% {
      box-shadow: 0 0 0 4.5px, 0 0,-13.4px 0,0 44.8px,0 -44.8px;
   }

   40% {
      box-shadow: 0 0 0 9px, 0 0, 0 0,0 44.8px,0 -44.8px;
   }

   50% {
      box-shadow: 0 0 0 9px, 0 0, 0 0,0 13.4px,0 -44.8px;
   }

   60% {
      box-shadow: 0 0 0 13.4px, 0 0, 0 0,0 0,0 -44.8px;
   }

   70% {
      box-shadow: 0 0 0 13.4px, 0 0, 0 0,0 0,0 -13.4px;
   }

   80% {
      box-shadow: 0 0 0 17.9px, 0 0, 0 0,0 0,0 0;
   }

   90%, 100% {
      box-shadow: 0 0 0 0, 44.8px 0,-44.8px 0,0 44.8px,0 -44.8px;
   }
}




/* swiper slider css */
/* index.css */
