*{
  margin: 0px;
  padding: 0px;
}




/* src/components/Post.css */
.post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.field {
  margin-bottom: 15px;
}




/* navbar */
.navbar-div{
  width: 847px;
  height: 67px;
  top: 27px;
  left: 513px;
  gap: 0px;
  opacity: 0px;
  

}

.navbar-main{
  box-shadow: 0px 0px 10px 0px;

}








/* swiper slider css */
/* index.css */
